/* App.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #DB0007;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* font-family is geimporteerd in public/index.html */
h1 {
    text-align: center;
    color: #9C824A;
    font-family: 'Alfa Slab One', serif;
}

h2{
    color:#9C824A
}

input, textarea {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: calc(100% - 22px);
}

button {
    padding: 8px 14px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}

button.add {
    background-color: #063672;
    color: white;
}

button.edit {
    background-color:#063672;
    color: white;
}

button.delete {
    background-color: #DB0007;
    color: white;
}

button.save {
    background-color: #063672;
    color: white;
}

button.cancel {
    background-color: #9e9e9e;
    color: white;
}

.player-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    background-color: #fafafa;
    transition: transform 0.2s ease;
}

.player-card:hover {
    transform: scale(1.02);
}

.player-card p {
    margin: 6px 0;
    color: #555;
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* spacing between cards */
    margin-top: 20px;
}

textarea{
    resize:none;
    margin-left: 0;
    font-size: initial;
    font-family: Arial, serif;
}

img {
    display: block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}

